
<h1>Variables</h1>

Variable is like a container that holds data. Very similar to how our containers in kitchen holds sugar, salt etc Creating a variable is like creating a placeholder in memory and assigning it some value.

In [2]:
a= 1234567
print(a)
# print(type(a))

b= 'harry'
print(b)
type(b)

c= True
print(c)

d= 66.3
print(type(d))

1234567
harry
True
<class 'float'>

<h1>Data type</h1>

In simple terms, a data type tells Python what kind of value you are working with, so the computer knows how to store it and what operations are allowed on it.

1. Integer (int)

Whole numbers without decimal points.

In [ ]:
age = 21
year = 2025
temperature = -5
print("these are variabes  ",age, year, temperature)

these are variabes 21 21 2025 -5

In [9]:
a = 77
print(a)

kamran=33
print(type(kamran))
type(kamran)

b= ('harry')
c= 'ijaz'
d=b+c
print(d)

77
<class 'int'>
harryijaz

2. Float (float)

Numbers with decimals.

In [10]:
pi = 3.14
weight = 65.7
temperature = -2.5
print(pi, weight, temperature)

3.14 65.7 -2.5

In [11]:
percentage =88.9
radius=33.0
print(percentage,radius)

type(radius)

88.9 33.0

float

3. String (str)

Text inside quotes.

In [ ]:
name = "Akmal"
greeting = 'Hello Data Science'
combo= name   + greeting 
print(combo)

AkmalHello Data Science

In [24]:
text="This is my heading"
print(text)

This is my heading

In [15]:
temp='44'
print(type(temp))
temp=int(temp)
print(type(temp))

<class 'str'>
<class 'int'>

In [17]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
# print(y)
# print(z)

Orange