<h1>Data type</h1>

In simple terms, a data type tells Python what kind of value you are working with, so the computer knows how to store it and what operations are allowed on it.

1. Integer (int)

Whole numbers without decimal points.

In [1]:
age = 21
year = 2025
temperature = -5
print(age, year, temperature)

21 2025 -5

In [7]:
a = 77
print(a)

kamran=33
print(type(kamran))
type(kamran)

77
<class 'int'>

int

2. Float (float)

Numbers with decimals.

In [8]:
pi = 3.14
weight = 65.7
temperature = -2.5
print(pi, weight, temperature)

3.14 65.7 -2.5

In [12]:
percentage =88.9
radius=33.0
print(percentage,radius)

type(radius)

88.9 33.0

float

3. String (str)

Text inside quotes.

In [22]:
name = "Akmal"
greeting = 'Hello Data Science'
combo= name   + greeting
print(combo)

AkmalHello Data Science

In [24]:
text="This is my heading"
print(text)

This is my heading