<h1>Assignment Operators</h1>

Assignment operators are used to assign values to variables:

= (Assignment Operator)

In [1]:
x = 5
print(x)   # Output: 5

5

+= (Add and Assign)

In [2]:
x = 5
x += 3    # same as x = x + 3
print(x)  # Output: 8

8

-= (Subtract and Assign)

In [3]:
x = 5
x -= 3    # same as x = x - 3
print(x)  # Output: 2

2

*= (Multiply and Assign)

In [4]:
x = 5
x *= 3    # same as x = x * 3
print(x)  # Output: 15

15

/= (Divide and Assign)

In [5]:
x = 5
x /= 3    # same as x = x / 3
print(x)  # Output: 1.6666666666666667

1.6666666666666667

%= (Modulus and Assign)

In [6]:
x = 5
x %= 3    # same as x = x % 3
print(x)  # Output: 2

2

//= (Floor Divide and Assign)

In [7]:
x = 5
x //= 3   # same as x = x // 3
print(x)  # Output: 1

1

**= (Exponentiate and Assign)

In [8]:
x = 5
x **= 3   # same as x = x ** 3
print(x)  # Output: 125

125

&= (Bitwise AND and Assign)

In [9]:
x = 5
x &= 3    # same as x = x & 3
print(x)  # Output: 1

1

|= (Bitwise OR and Assign)

In [10]:
x = 5
x |= 3    # same as x = x | 3
print(x)  # Output: 7

7

^= (Bitwise XOR and Assign)

In [11]:
x = 5
x ^= 3    # same as x = x ^ 3
print(x)  # Output: 6

6

>>= (Right Shift and Assign)

In [12]:
x = 8
x >>= 2   # same as x = x >> 2
print(x)  # Output: 2

2

<<= (Left Shift and Assign)

In [13]:
x = 3
x <<= 2   # same as x = x << 2
print(x)  # Output: 12

12

:= (Walrus Operator)

In [14]:
print(x := 3)  # Assigns 3 to x and prints 3
print(x)       # Output: 3

3
3